{% include 'store/base.html' %}

{% load static %}


{% block content %}
    <style>
        body{
            background-color: gray;
        }
    </style>

    <body>
        <div class="container bg-white shadow-md p-5 form-layout">
            <div class="text-center">
                <i class="fa fa-envelope fa-3x" aria-hidden="true"></i>
                <br><br>

                <h5><strong>E-postanıza bir doğrulama bağlantısı gönderildi!</strong></h5>
                <hr>
                <p>Lütfen emailinizi kontrol ediniz.</p>
            </div>
        </div>
    </body>
{% endblock  %}
    