{% extends 'base.html' %}

{% load static %}


{% block page_title %}
    Makale Sil
{% endblock  %}


{% block css_files %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock  %}
    


{% block content %} 
    <div class="container mt-3">
        <div class="row">
            <div class="col-12">
                <p>
                    <strong>{{ article.title }} başlıklı makaleyi silmek istiyor musunuz?</strong>
                </p>

                <form action="{% url 'makale-delete' article.slug %}" method="POST">
                    {% csrf_token %}

                    <button type="submit" class="btn btn-danger">Evet</button>
                    <a href="{% url 'makale-list' %}" class="btn btn-primary">Hayır</a>
                </form>
            </div>
            
        </div>
    </div>
    

{% endblock %}
    

{% block js_files %}
    
{% endblock  %}

