<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand" href="{% url 'store' %}">Markamız</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Kategoriler
          </a>
          <ul class="dropdown-menu" aria_labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item" href="{% url 'store' %}"> Tümü </a>
            </li>

            {% for category in categories %}
              <li>
                  <a class="dropdown-item" href="{{ category.get_absolute_url }}"> {{ category.name | capfirst }} </a>
              </li>
            {% endfor %}
          </ul>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="text" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-info" type="submit">Ara</button>
      </form>

      <ul class="navbar-nav me-0 mb-2 mb-lg-0">
        <li class="nav-item">
          <a href="{% url 'cart_summary' %}" class="btn btn-outline-light" type="button" role="button">
            
            <i class="fa fa-shopping-cart" aria-hidden="true"> </i>
            
            <div class="d-inline-flex" id="cart-qty">
              
              {% with qty_amount=cart|length  %}
                
                {% if qty_amount > 0 %}
                  {{ qty_amount }}
                {% else %}
                  0
                {% endif %}
                  
              {% endwith %}
                
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>


