{% extends 'base.html' %}


{% block title %}
  Hakkımızda
{% endblock  %}

{% block content %}
<div class="container mt-3">
  <div class="row">
      <div class="col-12">
          <!-- content -->
          <h1>Hakkımızda Sayfası</h1> 
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat et veritatis accusamus dolor aspernatur maxime eaque nihil obcaecati, numquam deleniti necessitatibus sint impedit? Culpa obcaecati inventore iusto sapiente dolores eius!
          Dignissimos non nisi nobis aperiam omnis commodi alias quidem deserunt cum mollitia, nemo id harum, nulla, odit dolores aspernatur iure facere? Unde iste vero eaque officiis voluptates blanditiis. Iusto, quasi?
          Eaque, praesentium ea ut, maxime laboriosam laborum ipsam illo itaque rem, nostrum quo explicabo suscipit ullam sapiente possimus soluta? Numquam explicabo placeat temporibus commodi, totam libero cum ad laborum aliquid.</p>
      </div>
  </div>
</div>
{% endblock  %}