<nav class="navbar navbar-expand-lg bg-success navbar-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'index' %}">Gazete</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Anasayfa</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'makale-create' %}">Makale Ekle</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'makale-list' %}">Makale Listesi</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'author-create' %}">Yazar Ekle</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'authors' %}">Yazar Listesi</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'about' %}">Hakkımızda</a>
          </li>
        </ul>
        <ul class="navbar-nav me-1">
          
          {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="#">Hoşgeldin, {{ user.username }}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'logout' %}">Logout</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'change-password' %}">Change Password</a>
            </li>
          
          {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'login' %}">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'register' %}">Register</a>
            </li>
          {% endif %}
        </ul>
        <form class="d-flex" action="{% url 'search' %}">
          <input class="form-control me-1" type="text" placeholder="Arama" name="q">
          <button class="btn btn-warning" type="submit">Arama</button>
        </form>
      </div>
    </div>
  </nav>