{% extends 'base.html' %}

{% load static %}

{% block title %}
  Kitap Ekle
{% endblock  %}

{% block css_files %}
  <link rel="stylesheet" href="{% static 'books/css/style.css' %}">
{% endblock  %}

{% block content %}
<div class="container mt-3">
  <div class="row">

      <div class="col-12">
          <!-- content -->
          <form action="{% url 'create-book' %}" method="POST" novalidate enctype="multipart/form-data">
            {% csrf_token %}
             
            
            {% for field in form %}
              <div class="mb-3 {% if field.errors %} invalid {% endif %} ">
                {{ field.errors }}
                <label for="field.id_for_label" class="form-label">{{ field.label }}</label>
                {{ field }}
              </div>
            {% endfor %}
              

            <button type="submit" class="btn btn-primary">Kaydet</button>
          </form>
      </div>
  </div>
</div>
{% endblock  %}