{% extends 'base.html' %}

{% load static %}

{% block page_title %}
    Login
{% endblock  %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}


{% block content %}
    <div class="container mt-3">
        <div class="row">
            <div class="col-12">

                <form method="POST" novalidate>
                    {% csrf_token %}

                    {% include 'partial/__form.html' %}

                    <button class="btn btn-danger" type="submit">Login</button>
                </form> 
            </div>
            
        </div>
    </div>
{% endblock  %}
    