{% extends 'base.html' %}

{% load static %}

{% block page_title %}
    Hakkımızda
{% endblock  %}


{% block css_files %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock  %}


{% block content %}
    <div class="container-fluid mt-3">
        <div class="row">
            <div class="col-12">
                <h1>Hakkımızda Sayfasına Hoş Geldiniz.</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto consectetur illo quidem voluptas maxime quaerat. Id possimus veniam corrupti ullam voluptatem nihil, aut enim, quisquam vero necessitatibus, commodi nesciunt perspiciatis?
                Corporis cum optio explicabo, voluptatem minus aliquid sint est autem? Ipsam, illo ipsa quod, molestias quis distinctio voluptatem asperiores delectus laboriosam quibusdam quidem quo adipisci, laudantium est minus nisi harum.
                Laudantium, qui praesentium! Quas, quisquam vero odio tempore fuga ipsa facere beatae eum fugiat rem quaerat atque soluta iusto sunt cupiditate iste reprehenderit velit magnam ab quasi in unde sed?
                Deleniti asperiores excepturi eos alias voluptatum omnis, molestiae, culpa optio ratione hic quas, reiciendis nihil tempore cum sequi aspernatur. Officiis aut dolorem fugit, mollitia optio magni sequi placeat dolores nulla!
                A quod enim porro officia totam cumque reprehenderit, minus, fuga mollitia aspernatur commodi iure numquam voluptatem ut molestiae harum consectetur pariatur soluta excepturi architecto sint? Maiores animi numquam odit nisi?
                Eaque praesentium voluptas laborum fuga numquam sit odio maiores, architecto libero facilis modi veritatis laboriosam maxime alias quasi officiis blanditiis dolorem reiciendis cum iste voluptatum impedit voluptatibus excepturi! Dolores, quo!
                Consequuntur esse cumque, pariatur nostrum deleniti libero ullam! Earum cum non vero corporis facere aperiam, inventore rem alias repellendus consectetur explicabo labore architecto sequi saepe et, reiciendis consequuntur laboriosam amet.
                Ipsum iste quis quam magnam nam quos possimus consequatur nihil ut ea, perferendis excepturi, expedita modi quasi odio eum repellat? Voluptas laudantium reprehenderit quasi optio voluptatibus praesentium nam maiores tenetur.
                Eligendi blanditiis libero fugit autem, iusto veniam commodi esse cupiditate ad, corporis assumenda exercitationem! Magni debitis ipsa quas vero praesentium esse ad quasi at tenetur. Debitis vitae facere eum dolorem.
                Dignissimos odio tenetur quia, maiores ipsum earum. Quisquam laudantium libero dignissimos. Debitis et quas ad cum odit! Praesentium, eum quae consequatur quia totam quos voluptates at iusto dignissimos temporibus ut!</p>            
            </div>
        </div>
    </div>
{% endblock  %}
