{% extends 'base.html' %}

{% load static %}

{% block page_title %}
    Hakkımızda
{% endblock  %}


{% block css_files %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock  %}


{% block content %}
    <div class="container-fluid mt-3">
        <div class="row">
            <div class="col-12">
                <ul>
                    
                    {% for author in authors %}
                        <li>{{ author }}</li>
                    {% endfor %}
                        
                </ul>
            </div>
        </div>
    </div>
{% endblock  %}
    