<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Sitemizde kayıtlı kitaplar:</h1>

    <p>
        <ul>
            {% for book in books %}
                <li>{{ book }}</li>
            {% endfor %}
        </ul>
    </p>

    <p>
        <ul>
            <li>Birinci</li>
            <li>İkinci</li>
            <li>Üçüncü</li>
        </ul>

        <ol>
            <li>Birinci</li>
            <li>İkinci</li>
            <li>Üçüncü</li>
        </ol>
    </p>
</body>
</html>