{% extends 'base.html' %}



{% block title %}
  Anasayfa
{% endblock  %}
  


{% block content %}
<div class="container mt-3">
  <div class="row">
      <div class="col-3">

        {% include 'books/partial/__categories.html' %}
      
      </div>
      
      <div class="col-9">
          <!-- content -->
          <h1>Anasayfa</h1>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eaque illum saepe ea exercitationem vel blanditiis illo sint, officia adipisci sequi fuga nam autem odio veritatis? Vitae minus nam quisquam doloremque.
            A quibusdam laboriosam voluptate, suscipit quas odio, dolor nemo, iste libero amet saepe eius quam placeat! Necessitatibus vero, deserunt minima totam, explicabo debitis quod vitae est molestiae officia architecto similique.
            Dolorum qui, quas, porro iusto pariatur facilis, ducimus temporibus repellendus suscipit nobis doloremque! Modi nihil dolorum natus corrupti temporibus sequi quod repudiandae voluptatibus laborum animi. Exercitationem laudantium nisi deleniti dolor.
            Tenetur, animi earum eos est, libero obcaecati quasi esse dolore maxime at perspiciatis voluptas, ullam molestias modi! Voluptate, totam a maiores quas cupiditate quisquam natus fugiat quod aliquid corrupti enim.
            Debitis at blanditiis totam. Vel nostrum ex pariatur aspernatur quos corporis cupiditate molestiae, omnis ipsum saepe suscipit aliquam facere sed. Sed cumque eos consequatur rem beatae voluptatem doloribus aliquid praesentium?
          </p>       
      </div>
  </div>
</div>
{% endblock  %}
  