{% include 'store/base.html' %}

{% load static %}

{% load mathfilters %}


{% block content %}

<main class="pt-5">
    <div class="container">
        <h1 class="h5">Alışveriş Sepeti</h1>
        <hr>
        
        {% for item in cart %}
            {% with product=item.product  %}
                <br>
                <div class="row mb-4 border product-item">
                    <div class="col-md-3 col-lg-2 order-md-first bg-light">
                        <img width="200px" src="{{product.image.url}}" alt="{{product.title}}" class="img-fluid mx-auto dblock">
                    </div>
                    <div class="col-md-9 col-lg-10 ps-md-3 ps-lg-10">
                        <a href="{{product.get_absolute_url}}" class="text-info text-decoration-none">
                            <h1 class="h5 pt-2">
                                {{product.title}}
                            </h1>
                        </a>

                        <div class="border">
                            <div class="col border-bottom">
                                <div class="row p-3">
                                    <div class="col-6">Ürün</div>
                                    <div class="col-6 text-end">
                                        <span class="h6 fw-bold">
                                            {{product.price|mul:item.qty}} ₺
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="col">
                                <div class="row p-3">
                                    <div class="col-12">
                                        <label for="select">Adet</label>
                                        &nbsp;
                                        <select id="select{{product.id}}">
                                            <option selected>
                                                {{item.qty}}
                                            </option>
                                            <option value="">1</option>
                                            <option value="">2</option>
                                            <option value="">3</option>
                                            <option value="">4</option>
                                        </select>
                                        <br><br>

                                        <button type="button" data-index="{{product.id}}"
                                        class="btn btn-primary btn-sm update-button">
                                            Güncele
                                        </button>

                                        <button type="button" data-index="{{product.id}}"
                                        class="btn btn-danger btn-sm delete-button">
                                            Sil
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endwith %}
        {% endfor %}
        <div class="col-12 text-end">
            <div class="h6 fw-bold">
                Toplam: <div id="total" class="d-inline-flex"> {{cart.get_total}} ₺ </div>
            </div>
            <br>
            <a href="#" class="btn btn-primary my-2"><i class="fa fa-chevron-circle-right" aria-hidden="true"></i> &nbsp; Siparişi Tamamla</a>
            <!-- başka bir app ile ilgili -->
        </div>    
    </div>
</main>

<!-- Bu JavaScript kodları, kullanıcının alışveriş 
    sepetini güncellemek için Ajax kullanarak arka 
    plandaki Django görünümlerine (views) istek gönderir. 
    İstekler başarıyla tamamlandığında, sayfayı yeniler 
    ve sepetle ilgili bazı bilgileri günceller. Örneğin, 
    sepetin toplam miktarını ve miktarını gösteren belirli 
    HTML öğelerini günceller. -->

<script>

        // Delete button
      
          $(document).on('click', '.delete-button', function(e){
      
            e.preventDefault();
      
            $.ajax({
      
                type: 'POST',
                url: '{% url "cart_delete" %}',
                data: {
      
                    product_id: $(this).data('index'),
                    csrfmiddlewaretoken: "{{csrf_token}}",
                    action: 'post'
      
                },
      
                success: function(json){
      
                    //console.log(json)
      
                    location.reload();
                    
      
                    document.getElementById("cart-qty").textContent = json.qty
      
                    document.getElementById("total").textContent = json.total
      
      
                },
      
                error: function(xhr, errmsg, err){
      
      
                }
      
            });
      
      
        })
      
      
        // Update button
      
        $(document).on('click', '.update-button', function(e){
      
          e.preventDefault();
      
          var theproductid = $(this).data('index');
      
          $.ajax({
      
              type: 'POST',
              url: '{% url "cart_update" %}',
              data: {
      
                  product_id: $(this).data('index'),
                  product_quantity: $('#select' + theproductid + ' option:selected').text(),
                  csrfmiddlewaretoken: "{{csrf_token}}",
                  action: 'post'
      
              },
      
              success: function(json){
      
                  //console.log(json)
      
                  location.reload();
                  
      
                  document.getElementById("cart-qty").textContent = json.qty
      
                  document.getElementById("total").textContent = json.total
      
      
              },
      
              error: function(xhr, errmsg, err){
      
      
              }
      
          });
      
      
      })
      
      
      
</script>
       
    
{% endblock  %}
    

