<div class="card mb-3">
    <div class="row">
      <div class="col-4">
        <img src="https://w7.pngwing.com/pngs/776/145/png-transparent-books-illustration-book-book-rectangle-presentation-desktop-wallpaper-thumbnail.png" class="img-fluid rounded-start" alt="resim">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Kitabın Adı: {{book.name}}</h5>
          <p class="card-text">Kitabın Açıklaması: {{ book.description | truncatechars:15}}</p>
          <span>
                {% if book.stock > 0 %}
                    <span class="badge bg-success">Stokta Var</span>
                {% else %}
                    <span class="badge bg-warning">Yakında Gelecek</span>
                {% endif %}
                <p>{{ book.created_date|date:"SHORT_DATE_FORMAT" }}</p>
          </span>
        </div>
      </div>
    </div>
</div>

