{% extends './base.html' %}

{% load static %}


{% block content %}
    <section class="p-4 text-center container">
        <div class="row py-lg-5">
            <div class="col col-lg-6 col-md-8 mx-auto">
                <h4>Markamız... Sadeliğin en güzel hali.</h4>
                <br>
                <p class="lead text-muted">
                    Geniş koleksiyonumuza göz atın.
                </p>
                <br>

                <a href="#" class="btn btn-primary">Bir Hesap Oluşturun</a>
            </div>
        </div>
    </section>
    <main>
        <div class="container-fluid">
            <div class="row d-flex">
                <div class="col-12">
                    <!-- Categories -->
                    <table>
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Category Name</th>
                                <th>Category Slug</th>
                            </tr>
                        </thead>
                        <tbody>
                            
                            {% for category in all_categories %}
                                <tr>
                                    <td>{{category.id}}</td>
                                    <td>{{category.name}}</td>
                                    <td>{{category.slug}}</td>
                                </tr>
                            {% endfor %}
                                
                        </tbody>
                    </table>
                        
                </div>
            </div>
        </div>
    </main>
{% endblock  %}
    