{% include 'store/base.html' %}

{% load static %}

{% load crispy_forms_tags %}


{% block content %}
    <style>
        body{
            background-color: gray;
        }
    </style>

        <br>

        <div class="container bg-white shadow-md p-5 form-layout">
            <h3 class="text-center"> Parola Sıfırlama</h3>

            <hr>
            <br>

            <p>
                Parolanızı mı unuttunuz? E-posta adresinizi aşağıya girin,
                ve yeni bir tane parola ayarlamak için talimatları size e-posta ile 
                göndereceğiz.
            </p>

            <form method="POST" autocomplete="off">
                {% csrf_token %}

                {{ form|crispy }}
                
                <br>

                <button type="submit" class="btn btn-primary navbar-btn text-white w-100 p-2">
                    Şifre sıfırlama bağlantısı gönder
                </button>

            </form>
        </div>

{% endblock  %}
    