{% include 'store/base.html' %}

{% load static %}

{% load crispy_forms_tags %}


{% block content %}
    <style>
        body{
            background-color: gray;
        }
    </style>

    <body>
        <br>

        <div class="container bg-white shadow-md p-5 form-layout">
            <h3 class="text-center"><i class="fa fa-hand-paper-o" aria-hidden="true"></i>&nbsp; Hoşgelin {{ user }}</h3>

            <hr>
            <br>
            <p>Burası sizin kişisel profil sayfanız. Burada aşağıdaki işlemleri gözlemleyebilecksiniz:</p>

            <li> Sipariş Takibi </li>
            <li> Hesabınızı Yönetme </li>

            <br>

            <div class="container bg-white shadow-md p-5 form-layout">
                <h4><i class="fa fa-list-alt" aria-hidden="true"></i>&nbsp; Sipariş Takibi</h4>

                <hr>

                <p>Tüm siparişleriniz burada...</p>

                <a href="#" class="btn btn-primary navbar text-white" type="button">Siparişlerim</a>
            </div>

            <div class="container bg-white shadow-md p-5 form-layout">
                <h4><i class="fa fa-address-book" aria-hidden="true"></i>&nbsp; Profil bilgilerini düzenle</h4>

                <hr>

                <p>Hesabınızı Güncelleyin veya Silin</p>

                <a href="#" class="btn btn-primary navbar-btn text-white" type="button">Hesabınızı Yönetin</a>
            </div>
        </div>
    </body>
    <br><br>
{% endblock  %}
    